@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single+Ink:wght@100..900&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single+Ink:wght@100..900&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Dancing+Script:wght@400..700&display=swap');


body {
    background: cyan;
}

h1,h2{
    font-family: "Bitcount Prop Single Ink";
}

p{
    font-family: "Bitcount Prop Single Ink";
}

header {
    text-align: center;
    border-bottom: solid 4px rgb(131, 53, 204);
    margin-bottom: 60px; /* Margen del borde hacia afuera*/
    padding-bottom: 20px; /* Margen del borde hacia adentro*/
}
/*Segunda forma de colocar diseño*/
#FotoDePerfil {
    border: solid black 2px;
}

article {
    border: solid black 3px;
    width: 30%; /* cuando se usa porcentaje se adapta al tamaño del navegador */
    float: left; /* Alinea a la izquierda */
}